{% load static %}
<!-- START PAGE SIDEBAR -->
<div class="page-sidebar">
    <!-- START X-NAVIGATION -->
    <ul class="x-navigation">
        <li class="xn-logo">
            <a>SIC-115</a>
            <a href="{% url 'prueba'   %}" class="x-navigation-control"></a>
        </li>

        <li>
            <a href="{% url 'prueba'   %}"><span class="fa fa-desktop"></span> <span class="xn-text">Inicio</span></a>
        </li>
        <li class="xn-openable">
            <a href="#"><span class="fa fa-table"></span> <span class="xn-text">Registrar Transaccion</span></a>
            <ul>
                <li><a href="{% url 'transcuenta'   %}"><span class="fa fa-image"></span>En Cuentas</a></li>
                <li><a href="{% url 'ventas'   %}"><span class="fa fa-image"></span> Ventas</a></li>
                <li><a href="{% url 'compras'   %}"><span class="fa fa-image"></span> Compras</a></li>

            </ul>
        </li>
        <li>
            <a href="{% url 'producto' %}"><span class="fa fa-list-alt"></span> <span class="xn-text">Sistema de costeos</span></a>
        </li>
        <li class="xn-openable">
            <a href="#"><span class="fa fa-files-o"></span> <span class="xn-text">Estados Finacieros</span></a>
            <ul>
                {% for anioE in anios_esta %}

                    <li><a href="{% url 'estados' anioE.anio  %}"><span class="fa fa-file"></span> {{ anioE.anio }}</a></li>
                {% endfor %}


            </ul>
        </li>
        <li class="xn-openable">
            <a href="#"><span class="fa fa-table"></span> <span class="xn-text">Inventarios</span></a>
            <ul>
                <li><a href="{% url 'inventarios'  %}"><span class="fa fa-image"></span>Materia Prima</a></li>
                <li><a href="{% url 'inventarioProducto'  %}"><span class="fa fa-image"></span>Producto Terminado</a></li>
            </ul>
        </li>

        <li class="xn-openable">
            <a href="{% url 'empleados'  %}"><span class="fa fa-calendar"></span> <span class="xn-text">Planilla de sueldos</span></a>
            
        </li>
        <li>
            <a href="{% url 'periodoContable'  %}"><span class="fa fa-list-alt"></span> <span class="xn-text">Período Contable</span></a>
        </li>
        <li>
            <a href="{% url 'catalogo'  %}"><span class="fa fa-list-alt"></span> <span class="xn-text">Catálogo De Cuentas</span></a>
        </li> 
        <li class="xn-openable">
            <a href="#"><span class="fa fa-table"></span> <span class="xn-text">libros</span></a>
            <ul>
                <li><a href="{% url 'libroventa'  %}"><span class="fa fa-image"></span>Venta</a></li>
                <li><a href="{% url 'librocompra'  %}"><span class="fa fa-image"></span>Compra</a></li>
            </ul>
        </li>


    </ul>
    <!-- END X-NAVIGATION -->
</div>
<!-- END PAGE SIDEBAR -->
