{% extends "base/base.html" %}

{% block contenido %}
<div class="content-frame">
    <div class="content-frame-top">
        <div class="page-title">
            </center><h2> <span class="fa fa-inbox"></span>Catálogo de Cuentas
            </h2>
        </div>


    </div>

    <div class="content-frame-left" style="height: 100px;">

        <div class="block">
            <div class="list-group border-bottom">

            </div>
        </div>

    </div>

    <div class="content-frame-body" style="height: 100px;">
        <div class="block">
            <div class="panel panel-default">
                <div class="panel-heading ui-draggable-handle">
 
                </div>
                <div class="panel-body">
    <table class="table table-bordered">
    	<thead>
    		<tr>
    			<td>Codigo</td>
    			<td>Nombre</td>
    			<td>tipoCuenta</td>
    		</tr>
    	</thead>
    	<tbody>
    		{% if cuentas %}
    		{% for cuenta in cuentas %}
    		<tr>
    			<td>{{cuenta.codigoN}}</td>
    			<td>{{cuenta.nombre}}</td>
    			<td>{{cuenta.tipoCuenta}}</td>
    		</tr>
    		{% endfor %}

    		{% else %}
    		<h1>no hay registros</h1>
    		{% endif %}
    	</tbody>
    </table>
</div>
{% endblock contenido %}